*.pyc
__pycache__/
migrations
stacticcdn
.idea/
db.sqlite3
.idea
media/
staticcdn/
static_cdn/
.vscode/
progress_env/
venv/
venv/*
credentials.yaml
logs/
celerybeat-schedule
myenv/
myenv/*
myvenv/
myvenv/*
